{% load i18n %}

<div>
    <p>Sincerely,</p>
    <br/>
    <p>
        IkonoTV<br />
    </p>
    <br/>
    <p>
        MARKEVITCH MEDIA GmbH <br />
        Gipsstraße 3 | 10119 Berlin | Germany <br />

        Phone: +4930 443 560 43 <br />
        Fax: +4930 201 632 869 <br />
    </p>
    <p>
        <div>
            <a href="ikono.tv" target="_blank">
            <img style="margin-bottom: 20px" src="https://s3-us-west-2.amazonaws.com/ascribe0/whitelabel/ikonotv/ikono-logo-pink-box.gif" width="150px">
            </a>
        </div>
    </p>
    <p>
        <a href="ikono.tv" target="_blank">ikono.tv</a><br/>
        <a href="facebook.com/ikonotv" target="_blank">facebook.com/ikonotv</a><br/>
        <a href="twitter.com/ikonotv" target="_blank">twitter.com/ikonotv</a><br/>
        <a href="instagram.com/ikonotv" target="_blank">instagram.com/ikonotv</a><br/>
        <a href="vimeo.com/ikonotv" target="_blank">vimeo.com/ikonotv</a><br/>
        <a href="youtube.com/ikonotv" target="_blank">youtube.com/ikonotv</a><br/>
    </p>
</div>
