{% extends 'emails/polline/base.html' %}

{% block content %}

<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
    <tr>
        <td colspan="3" valign="top" class="bodyContent">
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                {% include 'emails/polline/header.html' %}
                <tr>
                    <td align="left" valign="top" style="padding-top:10px">
                        <p>Hi {{ sender.username }},</p>
                        <p>
                            Ascribe user {{ receiver }} just rejected your unconsign request for the following work:
                            {% include 'emails/edition_list.html' %}
                        </p>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{% endblock %}