<tr>
    <td align="center" valign="top" style="padding-top:0">
        <table border="0" cellpadding="15" cellspacing="0" class="templateButton">
            <tr>
                <td align="center" valign="middle" class="templateButtonContent">
                    <!-- TODO link to collection of user if multiple objects -->
                    <a href="{{ signup_or_login_link }}&redirectAuthenticated={{ pieces.0.url_safe }}" target="_blank">
                       {{ button_text }}
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>
