{% load staticfiles %}

<table border="0" cellpadding="10" cellspacing="0" width="100%">
    <tr style="padding-bottom:10px">
	<td colspan="2" align="center" width="90%">
	    <img src="https://s3-us-west-2.amazonaws.com/ascribe0/whitelabel/www/ascribe_bluegreen_bars.png" width="100%"/>
	</td> 
    </tr>
    <tr>
	<td align="center" width="50">
	    <a href="https://www.ascribe.io" target="_blank">
		<img src="https://s3-us-west-2.amazonaws.com/ascribe0/whitelabel/www/ascribe-logo.jpg" width="80px">
	    </a>
	</td>
	<td valign="top" width="350">
	    <div>
		<strong>ascribe GmbH</strong>
		<br/>
		Wichertstr. 17, 10439 Berlin | Managing Director: Bruce Pon | Registered in Berlin HRB 160856B | <a href="mailto:info@ascribe.io" target="_blank" style="color:rgb(0, 60, 105)!important">info@ascribe.io</a>
	    </div>
	</td>
    </tr>
</table>
