{% extends 'emails/artcity/base.html' %}

{% load i18n %}

{% block content %}

<table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
    <tr>
        <td colspan="3" valign="top" class="bodyContent">
            <table border="0" cellpadding="20" cellspacing="0" width="100%">
                {% include 'emails/artcity/header.html' %}
                <tr>
                    <td align="center" valign="top" style="padding-top:10px">
                        <p>
                            {{ opening_text|default:'' }}
                                        {% for edition in editions %}
                            <br/>
                            {{ edition.title }} {% trans 'by' %} {{ edition.artist_name }}, {{ edition.yearAndEdition_str }}
                            {% endfor %}
                        </p>
                    </td>
                </tr>
                {% include 'emails/button_row.html' %}
            </table>
        </td>
    </tr>
    {% for edition in editions %}
    {% include 'emails/image_and_text.html' %}
    {% endfor %}
    {% include 'emails/new_message.html' %}
</table>

{% endblock %}

