/* Client-specific Styles */
#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" button. */
body {width:100% !important;} .ReadMsgBody {width:100%;} .ExternalClass {width:100%;} /* Force Hotmail to display emails at full width */
body {-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */
body {margin:0; padding:0;}
img {border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
table td {border-collapse:collapse;}
#backgroundTable {height:100% !important; margin:0; padding:0; width:100% !important;}

/* Template Styles */

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: COMMON PAGE ELEMENTS /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Page
* @section background color
* @tip Set the background color for your email. You may want to choose one that matches your company's branding.
* @theme page
*/
body, #backgroundTable {
	/*@editable*/ background-color:#FAFAFA;
}

/**
* @tab Page
* @section email border
* @tip Set the border for your email.
*/
#templateContainer {
	/*@editable*/ border: 1px solid #DDDDDD;
}

/**
* @tab Page
* @section heading 1
* @tip Set the styling for all first-level headings in your emails. These should be the largest of your headings.
* @style heading 1
*/
h1, .h1 {
	color:#003c69;
	display:block;
	/*@editable*/ font-family:Helvetica;
	/*@editable*/ font-size:28px;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	/*@editable*/ text-align:center;
}

/**
* @tab Page
* @section heading 2
* @tip Set the styling for all second-level headings in your emails.
* @style heading 2
*/
h2, .h2 {
	/*@editable*/ color:#003c69;
	display:block;
	/*@editable*/ font-family:Helvetica;
	/*@editable*/ font-size:24px;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	/*@editable*/ text-align:left;
}

/**
* @tab Page
* @section heading 3
* @tip Set the styling for all third-level headings in your emails.
* @style heading 3
*/
h3, .h3 {
	/*@editable*/ color:#202020;
	display:block;
	/*@editable*/ font-family:Helvetica;
	/*@editable*/ font-size:20px;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	/*@editable*/ text-align:left;
}

/**
* @tab Page
* @section heading 4
* @tip Set the styling for all fourth-level headings in your emails. These should be the smallest of your headings.
* @style heading 4
*/
h4, .h4 {
	color:#202020;
	display:block;
	font-family:Helvetica;
	font-size:16px;
	font-weight:lighter;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: HEADER /\/\/\/\/\/\/\/\/\/\ */

p {
    font-family:Helvetica;
    font-weight:lighter;
}



/**
* @tab Header
* @section header style
* @tip Set the background color and border for your email's header area.
* @theme header
*/
#templateHeader {
	/*@editable*/ background-color:#FFFFFF;
	/*@editable*/ border-bottom:0;
}

/**
* @tab Header
* @section header text
* @tip Set the styling for your email's header text. Choose a size and color that is easy to read.
*/
.headerContent {
	/*@editable*/ color:#202020;
	/*@editable*/ font-family:Helvetica;
	/*@editable*/ font-size:34px;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ line-height:100%;
	/*@editable*/ padding:0;
	/*@editable*/ text-align:center;
	/*@editable*/ vertical-align:middle;
}

/**
* @tab Header
* @section header link
* @tip Set the styling for your email's header links. Choose a color that helps them stand out from your text.
*/
.headerContent a:link, .headerContent a:visited, .headerContent a .yshortcuts  {
	/*@editable*/ color:#336699;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ text-decoration:underline;
}

#headerImage {
	height:auto;
	max-width:600px !important;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: MAIN BODY /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Body
* @section body style
* @tip Set the background color for your email's body area.
*/
#templateContainer, .bodyContent {
	/*@editable*/ background-color:#FFFFFF;
}

/**
* @tab Body
* @section body text
* @tip Set the styling for your email's main content text. Choose a size and color that is easy to read.
* @theme main
*/
.bodyContent div {
    color:#505050;
    font-family:Helvetica;
    font-size:14px;
    line-height:150%;
    text-align:left;
}

/**
* @tab Body
* @section body link
* @tip Set the styling for your email's main content links. Choose a color that helps them stand out from your text.
*/
.bodyContent div a:link, .bodyContent div a:visited, .bodyContent div a .yshortcuts  {
	/*@editable*/ color:#336699;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ text-decoration:underline;
}

/**
* @tab Body
* @section button style
* @tip Set the styling for your email's button. Choose a style that draws attention.
*/
.templateButton {
	background-color: #003c69;
	border:0;
	border-collapse:separate !important;
	min-width: 172.5px;
}

/**
* @tab Body
* @section button style
* @tip Set the styling for your email's button. Choose a style that draws attention.
*/
.templateButton, .templateButton a, .templateButton a:link, .templateButton a:visited, .templateButton a .yshortcuts  {
	color:#FFFFFF;
	font-family:Helvetica;
	font-size:16px;
	font-weight:lighter;
	letter-spacing:-.5px;
	line-height:100%;
	text-align:center;
	text-decoration:none;
}

.templateButtonContent {
    padding: 0;
}

.templateButton a {
    width: auto;
    height: auto;
    display: block;
    padding: 13px;
}

.bodyContent img {
	display:inline;
	height:auto;
}

.paddingWizard {
    padding: 0 60px;
}

/**
* @tab Columns
* @section left column text
* @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
*/
.leftColumnContent {
    background-color:#FFFFFF;
    padding-left:60px;
}

/**
* @tab Columns
* @section left column text
* @tip Set the styling for your email's left column text. Choose a size and color that is easy to read.
*/
.leftColumnContent div {
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica;
	/*@editable*/ font-size:14px;
	/*@editable*/ line-height:150%;
	/*@editable*/ text-align:left;
}

/**
* @tab Columns
* @section left column link
* @tip Set the styling for your email's left column links. Choose a color that helps them stand out from your text.
*/
.leftColumnContent div a:link, .leftColumnContent div a:visited, /* Yahoo! Mail Override */ .leftColumnContent div a .yshortcuts /* Yahoo! Mail Override */ {
	/*@editable*/ color:#336699;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ text-decoration:underline;
}

.leftColumnContent img {
	display:inline;
	height:auto;
}

/**
* @tab Columns
* @section right column text
* @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
*/
.rightColumnContent {
    background-color:#FFFFFF;
    padding-right:60px;
}

/**
* @tab Columns
* @section right column text
* @tip Set the styling for your email's right column text. Choose a size and color that is easy to read.
*/
.rightColumnContent div {
	/*@editable*/ color:#505050;
	/*@editable*/ font-family:Helvetica;
	/*@editable*/ font-size:14px;
	/*@editable*/ line-height:150%;
	/*@editable*/ text-align:left;
}

.rightColumnContent div a:link, .rightColumnContent div a:visited, /* Yahoo! Mail Override */ .rightColumnContent div a .yshortcuts /* Yahoo! Mail Override */ {
	/*@editable*/ color:#336699;
	/*@editable*/ font-weight:lighter;
	/*@editable*/ text-decoration:underline;
}

.rightColumnContent img {
	display:inline;
	height:auto;
}

.rightColumnContent h1,
.rightColumnContent h2,
.rightColumnContent h3,
.rightColumnContent h4 {
	color:#003c69;
	display:block;
	font-family:Helvetica;
	font-weight:lighter;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
}

.rightColumnContent h2 {
	font-size:22px;
}

.rightColumnContent h3 {
	font-size:20px;
}

.rightColumnContent h4 {
	font-size:14px;
}

.messageContent {
    background-color:#FAFAFA;
    padding:20px 20px 30px 20px;
}

pre {
    white-space:pre-wrap;       /* css-3 */
    white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space:-pre-wrap;      /* Opera 4-6 */
    white-space:-o-pre-wrap;    /* Opera 7 */
    word-wrap:break-word;       /* Internet Explorer 5.5+ */
    text-align:justify;
    background-color:#FAFAFA;
    padding:20px 20px 30px 20px;
    font-weight:lighter;
    font-family:Helvetica;
    font-size:14px;
}

/* /\/\/\/\/\/\/\/\/\/\ STANDARD STYLING: FOOTER /\/\/\/\/\/\/\/\/\/\ */

/**
* @tab Footer
* @section footer style
* @tip Set the background color and top border for your email's footer area.
* @theme footer
*/
#templateFooter {
    background-color:#FFFFFF;
    border-top:0;
}

/**
* @tab Footer
* @section footer text
* @tip Set the styling for your email's footer text. Choose a size and color that is easy to read.
* @theme footer
*/
.footerContent div {
	/*@editable*/ color:#707070;
	/*@editable*/ font-family:Helvetica;
	/*@editable*/ font-size:12px;
	/*@editable*/ line-height:125%;
	/*@editable*/ text-align:left;
}

/**
* @tab Footer
* @section footer link
* @tip Set the styling for your email's footer links. Choose a color that helps them stand out from your text.
*/
.footerContent div a:link, .footerContent div a:visited, .footerContent div a .yshortcuts  {
    color:#336699;
    font-weight:lighter;
    text-decoration:underline;
}

.footerContent img {
	display:inline;
}
